#
# Pick the MPI C compiler
# CC = mpicc
#

#
# cc flag to enable OPENMP
#
# OPENMP = -fopenmp
#
# Disable openmp
# OPENMP = 
# 
# remember to remove depends/install to ensure a rebuild of the dependencies
# flipping between openmp and not.

#
# For double precision FFT, use 
#
# CPPFLAGS = -DFASTPM_FFT_PRECISION=64
#
# Usually, use
# 
# CPPFLAGS = -DFASTPM_FFT_PRECISION=32

#
# Set special LDFLAGS, 
# e.g if mpicc cannot find MPI libraries
#
# LDFLAGS = 
#

#
# Use -O3 for faster code
#
OPTIMIZE = -O3 -g

GSL_LIBS = -lgsl -lgslblas

#
# On some systems, DEPCMD has to be modified to include MPI headers
#
# DEPCMD = gcc -MG -MP -MT .objs/$(<:%.c=%.o) -MM 

